doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    link(rel='icon' type='image/png' href='/public/images/favicon.png')
    title koa | #{hostname}
  body
    h1 Hello World!